{% extends "app/layout.html" %}

{% block body %}

    <div class="container">
      <div class="row justify-content-center">

        <div class="card col-lg-3 col-sm-6">

            <h2 class="text-center">Get Fat</h2>
              
            <form onsubmit="get_data(); return false" class="mt-3">
        
                <div class="form-group mb-4">
                    <label class="form-label" for="height">Height (cm)</label>
                    <input autofocus class="form-control" type="number" name="height" id="height" required>
                </div>

                <div class="form-group mb-4">
                  <label class="form-label" for="weight">Weight (kg) </label>
                    <input class="form-control" type="number" name="weight" id="weight" required>
                </div>

                <div class="form-group mb-4">
                  <label class="form-label" for="age">Age (years) </label>
                  <input class="form-control" type="number" name="age" id="age" required>
              </div>

              <div class="form-group mb-4">

                <label class="form-label" for="male">Male</label>
                <input  type="radio" name="gender" value="1" id="male" checked>

                <label class="form-label" for="female">Female</label>
                <input  type="radio" name="gender" value="0" id="female">

              </div>


              <input class="btn btn-primary w-100 mb-5" type="submit" value="Get Fat">

            </form>
        
        </div>

        <div class="card col-lg-3 col-sm-6">
          <h2 class='text-center'>Results</h2>

          <div class="form-group mt-3">
            <div class="mb-3 row ">
              <span for="imc" class="col-9 m-0">Body Mass Index:</span>
              <input type="text" id="imc" readonly class="col-3 p-0">
            </div>
            <div class='row text-center'>
              <div class="col-4 card" id="imc-low">Low</div>  
              <div class="col-4 card" id="imc-good">Good</div>  
              <div class="col-4 card" id="imc-hight">Hight</div>  
            </div>
            <div id="imc_message" class="alert p-0 text-center" >bmi</div>
          </div>
          
          <div class="form-group mt-3">
            <div class="row">

              <label for="imc" class="col-9 m-0">Body Fat Percentage:</label>
              <input type="text" id="fbp" readonly class='col-3 p-0 m-0'>
            </div>

            <div class='row text-center mt-3'>
              <div class="col-4 card" id="bfp-low">Low</div>  
              <div class="col-4 card" id="bfp-good">Good</div>  
              <div class="col-4 card" id="bfp-hight">Hight</div>  
            </div>

              <div id="bfp_message" class="alert p-0 text-center" >bfp</div>
          </div>


        </div>

      </div>
    </div>

{% endblock %}

{% block script%}
    <script>

      function get_data() {
        fetch('/get_fat', {
          'method': 'POST',
          
          'headers': {
            'Content-Type': 'application/json'
          },

          'body': JSON.stringify({
            'height': document.querySelector('#height').value,
            'weight': document.querySelector('#weight').value,
            'age': document.querySelector('#age').value,
            'gender': document.querySelector('input[type=radio]:checked').value,
          })

        })
        .then( res => res.json())
        .then( data => {
          console.log(data)
          imc = data.imc
          imc_message = data.imc_message
          imc_alert = document.querySelector('#imc_message')
          imc_alert.innerText = imc_message

          document.querySelector('#imc').value = imc
          
          if( imc_message == 'good'){
            imc_alert.classList.remove('alert-warning')
            imc_alert.classList.remove('alert-danger')
            imc_alert.classList.add('alert-success')

            document.querySelector('#imc-low').classList.remove('bg-warning') 
            document.querySelector('#imc-good').classList.add('bg-success')  
            document.querySelector('#imc-hight').classList.remove('bg-danger') 

            document.querySelector('#imc_message').innerText= "21 < bmi < 25"

          }
          else if( imc_message == 'low'){
            imc_alert.classList.remove('alert-success')
            imc_alert.classList.remove('alert-danger')
            imc_alert.classList.add('alert-warning')

            document.querySelector('#imc-low').classList.add('bg-warning')
            document.querySelector('#imc-good').classList.remove('bg-success')
            document.querySelector('#imc-hight').classList.remove('bg-danger')  

            document.querySelector('#imc_message').innerText= "bmi <= 21"

          }
          else if( imc_message == 'hight'){
            imc_alert.classList.remove('alert-warning')
            imc_alert.classList.remove('alert-success')
            imc_alert.classList.add('alert-danger')

            document.querySelector('#imc-hight').classList.add('bg-danger')
            document.querySelector('#imc-good').classList.remove('bg-success')
            document.querySelector('#imc-low').classList.remove('bg-warning')  

            document.querySelector('#imc_message').innerText= "bmi >= 25"

          }


          if( data.fbp_message == 'good'){
            document.querySelector('#bfp-good').classList.add('bg-success')
            document.querySelector('#bfp-low').classList.remove('bg-warning')
            document.querySelector('#bfp-hight').classList.remove('bg-danger')

            document.querySelector('#bfp_message').innerHTML = '7% <= bfp <= 22%'
            document.querySelector('#bfp_message').className = 'alert alert-success p-0 text-center'

          }

          else if( data.fbp_message == 'hight'){
            document.querySelector('#bfp-good').classList.remove('bg-success')
            document.querySelector('#bfp-low').classList.remove('bg-warning')
            document.querySelector('#bfp-hight').classList.add('bg-danger')

            document.querySelector('#bfp_message').innerHTML = 'bfp > 22%'
            document.querySelector('#bfp_message').className = 'alert alert-danger p-0 text-center'
          }

          else if( data.fbp_message == 'low'){
            document.querySelector('#bfp-good').classList.remove('bg-success')
            document.querySelector('#bfp-low').classList.add('bg-warning')
            document.querySelector('#bfp-hight').classList.remove('bg-danger')

            document.querySelector('#bfp_message').innerHTML = 'bfp < 7%'
            document.querySelector('#bfp_message').className = 'alert alert-warning p-0 text-center'
          }



          document.querySelector('#fbp').value = data.fbp + '%'
        })  

      }
    </script>
{% endblock %}
