{% extends "app/layout.html" %}

{% block body %}

    <div class="container">
      <div class="row justify-content-around">

        <div class="card col-lg-3 col-sm-6">

            <h2 class="text-center">Get Fat</h2>
              
            <form onsubmit="get_data(); return false" class="mt-3">
        
                <div class="form-group mb-4">
                    <label class="form-label" for="height">Height (cm)</label>
                    <input autofocus class="form-control" type="number" name="height" id="height" required>
                </div>

                <div class="form-group mb-4">
                  <label class="form-label" for="weight">Weight (kg) </label>
                    <input class="form-control" type="number" name="weight" id="weight" required>
                </div>

                <div class="form-group mb-4">
                  <label class="form-label" for="age">Age (years) </label>
                  <input class="form-control" type="number" name="age" id="age" required>
              </div>

              <div class="form-group mb-4">

                <label class="form-label" for="male">Male</label>
                <input  type="radio" name="gender" value="1" id="male">

                <label class="form-label" for="female">Female</label>
                <input  type="radio" name="gender" value="0" id="female">

              </div>


              <input class="btn btn-primary w-100 mb-5" type="submit" value="Get Fat">

            </form>
        
        </div>

        <div class="card col-lg-3 col-sm-6">
          <h2>Results:</h2>

          <div class="form-group">
            <label for="imc">Indice de Masa Corporal:</label>
            <input type="text" id="imc" readonly>
            <div id="imc_message" class="alert p-0 text-center" ></div>
          </div>
          
          <div class="form-group">
            <label for="imc">Fat Body Porcentage:</label>
            <input type="text" id="fbp" readonly>
            <div id="fbp_message" class="alert p-0 text-center" ></div>
          </div>


        </div>

      </div>
    </div>

{% endblock %}

{% block script%}
    <script>

      function get_data() {
        fetch('/get_fat', {
          'method': 'POST',
          
          'headers': {
            'Content-Type': 'application/json'
          },

          'body': JSON.stringify({
            'height': document.querySelector('#height').value,
            'weight': document.querySelector('#weight').value,
            'age': document.querySelector('#age').value,
            'gender': document.querySelector('input[type=radio]:checked').value,
          })

        })
        .then( res => res.json())
        .then( data => {
          console.log(data)
          imc = data.imc
          imc_message = data.imc_message
          imc_alert = document.querySelector('#imc_message')
          imc_alert.innerText = imc_message

          document.querySelector('#imc').value = imc
          
          if( imc_message == 'good'){
            imc_alert.classList.remove('alert-warning')
            imc_alert.classList.remove('alert-danger')
            imc_alert.classList.add('alert-success')
          }
          else if( imc_message == 'low'){
            imc_alert.classList.remove('alert-success')
            imc_alert.classList.remove('alert-danger')
            imc_alert.classList.add('alert-warning')
          }
          else if( imc_message == 'hight'){
            imc_alert.classList.remove('alert-warning')
            imc_alert.classList.remove('alert-success')
            imc_alert.classList.add('alert-danger')
          }


          document.querySelector('#fbp').value = data.fbp + '%'
        })  

      }
    </script>
{% endblock %}