{% extends "app/layout.html" %}
{% load my_filters %}

{% block body %}
  <h3 class="text-center">Menus</h3>

  <div>

    <div class="row justify-content-center">
      <div class="badge badge-warning">BreakFast</div>
      <div class="badge badge-success">Meal</div>
      <div class="badge badge-dark">Dinner</div>
    </div>
      
    <div class='row justify-content-center m-2'>
      <button id="toggle_menus" class="btn  btn-sm btn-info">Show Images</button>
    </div>
    
  </div>
  {% include 'app/render_menus.html' %}
{% endblock %}

{% block script %}
  <script>
    let show = false

    document.querySelector('#toggle_menus').onclick = (event)=>  {
       show = !show
       console.log(show)
       let images = document.querySelectorAll('.menu-image')

       images.forEach( image => {
         if( show == true ){
          image.style.display = 'block'
          event.target.innerText = 'Hide Images'
        }
        else{
          image.style.display = 'none'
          event.target.innerText = 'Show Images'
         }
          
       }) 

    }
  </script>
{% endblock %}