{% load my_filters %}
<div class="card col-lg-3 col-sm-6 p-0 mb-2">

  <a href="/recipe/{{recipe.id}}">
      <h4>{{recipe.title}}</h4>
  </a>

  <img src="{{recipe.image_url}}" class="recipe-image">
  
  <div class="card-body">

      <ul>
          {% for ingredient in recipe.ingredients|split:',' %}
          <li>{{ingredient}}</li>
          {% endfor %}
      </ul>
      <p>{{recipe.description}}</p>
  </div>
  
  <div class='d-flex justify-content-between'>
      <a href="/profile/{{recipe.creator.id}}">
          {{recipe.creator}}
      </a>
      {% if recipe.creator == user %}
      <a href="/edit_recipe/{{recipe.id}}" class="btn btn-sm btn-info">Edit</a>
      {% endif %}
  </div>

  <div class="card-footer p-1">
      {% for tag in recipe.tags|split:',' %}
      <a href="/filter_by_tag/{{tag}}">
          <small class="btn btn-sm btn-secondary rounded-pill my-1 p-1 tag">{{tag}}</small>
      </a>  
          
      {% endfor %}
  </div>
</div>