{% load my_filters %}

<div class="container">

  <div class="row">
      {% for menu in menus %}
        <div class="card col-lg-2 col-sm-4 p-0 card-menu">
            <h3>{{menu.title}}</h3>
            
            <a href="/recipe/{{menu.breakfast.id}}">
              <p class="mb-0 badge badge-warning rounded-pill">{{menu.breakfast.title}}</p>
            </a>
            <img src="{{menu.breakfast.image_url}}" class="menu-image">

            <a href="/recipe/{{menu.meal.id}}">
              <p class="mb-0 badge badge-success rounded-pill">{{menu.meal.title}}</p>
            </a>
            <img src="{{menu.meal.image_url}}" class="menu-image">

            <a href="/recipe/{{menu.dinner.id}}">
              <p class="mb-0 badge badge-dark rounded-pill text-white">{{menu.dinner.title}}</p>
            </a>
            <img src="{{menu.dinner.image_url}}" class="menu-image">
            
            <div class='d-flex justify-content-between'>

                <a href="/profile/{{recipe.creator.id}}" class="py-1">
                    @{{menu.creator}}
                </a>
          
            
                {% if menu.creator == user %}
                  <a href="/edit_menu/{{menu.id}}" class="btn btn-sm btn-info p-1">Edit</a>
                {% endif %}
          

            </div>
        </div>
     
      {% endfor %}
  </div>
</div>