{% extends "app/layout.html" %}

{% block body %}

  <div class="container">
    <div class="row justify-content-center">

      <div class="card col-lg-4 col-sm-8 m-2 p-3 text-center">
        
        <h2>Shopping List</h2>
        
        <form  onsubmit="add_product(); return false" class="mt-3">
          <div class="form-group d-flex justify-content-between">
            <input autofocus class="form-control col-8" type="text" id="product_name" placeholder="Product Name" required>
            <input class="form-control col-3" type="number" min="1" id="product_price" placeholder="Price">
          </div>
          
          <input class="btn btn-primary w-100 mb-5" type="submit" value="Add Product">
        </form>
        
      </div>
      
      <div class="card col-lg-5 col-sm-12 text-center m-2 p-3">        
        <h2>Products</h2>
        <div id="products" class="text-left">

          {% for product in products %}
            <div class="row">

              {% if product.checked == False %}
              <span class="col-lg-6 col-sm-5 col-xs-5 card">
                {{product.name}} 
              </span>
              {% else %}
              <span class="col-6  col-sm-5 col-xs-5 card text-muted" style="text-decoration: line-through;">
                {{product.name}} 
              </span>
              {% endif %}
              <span class="price col-lg-2 col-sm-3 card">{{product.price}}</span>


              <i class="card fa fa-edit p-1" data-bs-toggle="modal" data-bs-target="#myModal" 
                              data-id="{{product.id}}"
                              data-name="{{product.name}}" 
                              data-price="{{product.price}}" 
                              onclick="fill_modal(event)" title="edit product"></i>


              <a  href="{% url 'delete_product' product.id %}" class="delete card">
                <i class='fa fa-trash text-dark m-1' title="delete product"></i>
              </a>

              <a  href="{% url 'check_uncheck' product.id %}" class="check card">
                {% if product.checked %}
                <input type="checkbox" checked class="m-1" title="uncheck product">
                {% else %}
                <input type="checkbox" class="m-1" title="check product">
                {% endif %}
              </a>

            
            </div>
          {% endfor %}
          </div>
        <p class="text-right mt-4"><b>Total:</b> <span id="total">0</span></p>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
          </div>
          
          <form onsubmit="update_product(); return false">
            
            <div class="modal-body">
              <input name="new_name" placeholder="Product Name">
              <input name="new_price" type="number" min=1 placeholder="Price">
              <input name="product_id" type="hidden">
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update Product</a>
            </div>

          </form>
          
        </div>
      </div>
  </div>


{% endblock %}

{% block script%}
  <script>
    document.querySelector('#total').innerText = get_total()
    total = get_total()

    // focus modal
    myModal = document.querySelector("#myModal")
    myInput = document.querySelector("input[name=new_name]")

    myModal.addEventListener('shown.bs.modal', function(){
      myInput.focus()  
   })

    function add_product(){
      product_name = document.querySelector('#product_name').value
      product_price = document.querySelector('#product_price').value

      //save product on DB
      fetch("add_product", {
        method: 'POST',
        headers: { 'Content-Type': 'application/json'},
        body: JSON.stringify({
          'name': product_name,
          'price': product_price
        })
      })
      .then( res => res.json())
      .then( data => { console.log(data)
        product_id = data.product_id
        append_product(product_name, product_price, product_id)
        document.querySelector('#total').innerText = get_total()
      })

     
    }

    function append_product(product_name, product_price, product_id){
 
      ul = document.querySelector('#products')
      div = document.createElement('div')
      div.classList.add('row')

      div.innerHTML = `<span class="card col-6">${product_name}</span> 
                       <span class="price card col-lg-2 col-sm-3">${product_price}</span>
                       <i class="card fa fa-edit p-1" data-bs-toggle="modal" data-bs-target="#myModal" 
                              data-id="${product_id}"
                              data-name="${product_name}" 
                              data-price="${product_price}" 
                              onclick="fill_modal(event)"></i>
                       <a  href="/delete_product/${product_id}" class="delete card">
                        <i class="fa fa-trash m-1 text-dark"></i>
                      </a>
                       <a  href="/check_uncheck/${product_id}" class="check card">
                        <input type="checkbox" class="m-1"> 
                       </a>
                       
                       `

      ul.appendChild(div)

      // clean fields
      document.querySelector('#product_name').value = ''
      document.querySelector('#product_price').value = ''

      document.querySelector('#product_name').focus()
    }

    function get_total(){
      let prices = document.querySelectorAll('.price')
      total = 0
      for( price of prices ){
        total += parseFloat(price.innerText)
      }

      return total
    }

    function fill_modal(event) {
      a = event.target 

      product_id = a.dataset.id
      product_name = a.dataset.name
      product_price = a.dataset.price

      document.querySelector('input[name=new_name]').value = product_name;
      document.querySelector('input[name=new_price]').value = product_price
      document.querySelector('input[name=product_id]').value = product_id

    }

    function update_product(){
      myModal = document.getElementById('myModal')
      
      fetch("/update_product", {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          'product_id': document.querySelector('input[name="product_id"]').value,
          'new_name': document.querySelector('input[name="new_name"]').value,
          'new_price': document.querySelector('input[name="new_price"]').value,
        })
      })
      .then( res => res.json())
      .then( data => console.log(data))
      .then( ()=> {
        url = document.location
        url.reload()
      } )
      
    }

  </script>
{% endblock%}