{% extends 'app/layout.html' %}

{% block body %}
  <div class="container">

    <div class="card mx-auto p-5 col-lg-4 col-sm-8 my-5">

    
      <h3 class='text-center mb-5'>Create Zone Menu</h3>
      <form action="zone_create_menu" method="POST" >
        {% csrf_token %}
        
        <div class="form-group">
          <input  class="form-control" type="text" placeholder="Menu Name" name="menu_name" required>
        </div>
        
        <div class="form-group">
          <select name="protein_id" class='form-control' required>
            <option selected disabled>Protein</option>
            {% for protein in proteins %}
            <option value="{{protein.id}}">{{protein.name}}</option>
            {% endfor %}
          </select>
      </div>
        
      <div class="form-group">
          <select name="carb_id" class='form-control' required>
            <option selected disabled>Carb</option>
            {% for carb in carbs %}
              <option value="{{carb.id}}">{{carb.name}}</option>
            {% endfor %}
          </select>
      </div>

      <div class="form-group">
        <select name="fat_id" class='form-control' required>
          <option selected disabled>Fat</option>
          {% for fat in fats %}
            <option value="{{fat.id}}">{{fat.name}}</option>
          {% endfor %}
        </select>
      </div>

      <input type="submit" value="Save Menu" class="btn btn-primary w-100">

      </form>

    </div>
    
  </div>
{% endblock %}