{% extends 'app/layout.html' %}

{% block body %}
  <div class="container">

    <h3>Create Menu</h3>
    <form action="zone_create_menu" method="POST" >
      {% csrf_token %}
      
      <input type="text" placeholder="Menu Name" name="menu_name">
      
      <select name="protein_id">
        <option selected disabled>Protein</option>
        {% for protein in proteins %}
        <option value="{{protein.id}}">{{protein.name}}</option>
        {% endfor %}
      </select>
      
      <select name="carb_id">
        <option selected disabled>Carb</option>
        {% for carb in carbs %}
        <option value="{{carb.id}}">{{carb.name}}</option>
      {% endfor %}
    </select>

    <select name="fat_id">
      <option selected disabled>Fat</option>
      {% for fat in fats %}
        <option value="{{fat.id}}">{{fat.name}}</option>
      {% endfor %}
    </select>


  </form>

  <div class="row">

    {% for menu in menus %}
    <div class="card col-4">
      <h3>{{menu.name}}</h3>

      <h4 class="mt-3">Proteins</h4>
        {% for item in menu.item_set.all %}
          {% if item.product.category == 'Protein'%}
            <div class="row">
              
              <div class="col-8">
                {{item.product.name}}
              </div>

              <div class="col-3">
                ${{item.product.price}}
              </div>

              <div class="col-1">
                {{item.product.blocks}}
              </div>
            </div>
          {% endif %}
        {% endfor %}

      <h4 class="mt-3">Carbs</h4>
        {% for item in menu.item_set.all %}
          {% if item.product.category == 'Carbs'%}
          <div class="row">
              
            <div class="col-8">
              {{item.product.name}}
            </div>

            <div class="col-3">
              ${{item.product.price}}
            </div>

            <div class="col-1">
              {{item.product.blocks}}
            </div>
          </div>
          {% endif %}
        {% endfor %}

      <h4 class="mt-3">Fats</h4>
        {% for item in menu.item_set.all %}
          {% if item.product.category == 'Fat'%}
          <div class="row">
              
            <div class="col-8">
              {{item.product.name}}
            </div>

            <div class="col-3">
              ${{item.product.price}}
            </div>

            <div class="col-1">
              {{item.product.blocks}}
            </div>
          </div>
          {% endif %}
        {% endfor %}


    </div>
    {% endfor %}
    {% endblock %}
  </div>
  </div>