{% extends 'app/layout.html' %}

{% block body %}
  <div class="container">
    
    <h4 class='text-center'>Zone Menu</h4>
    <div class="row">


      <div class="card col-lg-5 col-sm-12 mx-auto">
        <h3 class="text-center">{{menu.name}}</h3>

        <h5 class="mt-3">Proteins</h5>
          {% for item in menu.item_set.all %}
            {% if item.product.category == 'Protein'%}
              <div class="row">
                
                <div class="col-8">
                  {{item.product.name}}
                </div>

                <div class="col-2">
                  ${{item.product.price}}
                </div>

                <div class="col-2">
                  {{item.product.blocks}}
                </div>
              </div>
            {% endif %}
          {% endfor %}

        <h5 class="mt-3">Carbs</h5>
          {% for item in menu.item_set.all %}
            {% if item.product.category == 'Carbs'%}
            <div class="row">
                
              <div class="col-8">
                {{item.product.name}}
              </div>

              <div class="col-2">
                ${{item.product.price}}
              </div>

              <div class="col-2">
                {{item.product.blocks}}
              </div>
            </div>
            {% endif %}
          {% endfor %}

        <h5 class="mt-3">Fats</h5>
          {% for item in menu.item_set.all %}
            {% if item.product.category == 'Fat'%}
            <div class="row">
                
              <div class="col-8">
                {{item.product.name}}
              </div>

              <div class="col-2">
                ${{item.product.price}}
              </div>

              <div class="col-2">
                {{item.product.blocks}}
              </div>
            </div>
            {% endif %}
          {% endfor %}

          <h5 class="mt-4"></h5>
          <div class="row">
                  
            <div class="col-8">
              Results
            </div>
  
            <div class="col-2">
              ${{menu.price}}
            </div>
  
            <div class="col-2">
              {{menu.ratio}}
            </div>
          </div>
  
      {% endblock %}
      </div>
    </div>
  </div>