{% extends 'app/layout.html' %}

{% block body %}
  <div class="container">
    <h4 class='text-center'>Zone Menus</h4>
    <div class="row justify-content-center m-2">
      <div class="badge badge-danger">Proteins</div>
      <div class="badge badge-success">Carbs</div>
      <div class="badge badge-warning">Fats</div>
    </div>

    <div class="row">

      {% for menu in menus %}
      <div class="card col-3">
        <a href="zone_menu/{{menu.id}}">
          <h5>{{menu.name}}</h5>
        </a>

          {% for item in menu.item_set.all %}
            {% if item.product.category == 'Protein'%}
              <div class="row">
                <div class="badge badge-danger">
                  {{item.product.name}}
                </div>
              </div>
            {% endif %}
          {% endfor %}

          {% for item in menu.item_set.all %}
            {% if item.product.category == 'Carbs'%}
            <div class="row">
                
              <div class="badge badge-success">
                {{item.product.name}}
              </div>
            </div>
            {% endif %}
          {% endfor %}

          {% for item in menu.item_set.all %}
            {% if item.product.category == 'Fat'%}
            <div class="row">
                
              <div class="badge badge-warning">
                {{item.product.name}}
              </div>
            </div>
            {% endif %}
          {% endfor %}


      </div>
      {% endfor %}
      {% endblock %}
    </div>
  </div>