.recipe-image{
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.card small{
  font-size: 12px;
}

.card > a h4{
  text-decoration: none;
  color: black;
}

.menu-image{
  width: 100%;
  height: 20vh;
  object-fit: cover;
  margin-bottom: 15px;
}